/* Responsif sederhana */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .hero {
    height: 60vh;
  }

  .hero-text h2 {
    font-size: 20px;
  }

  .menu-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .menu-container {
    grid-template-columns: 1fr;
  }

  .hero {
    height: 50vh;
  }
}
